.quiz-page{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}


.s {
    /* position: absolute; */
      animate: 0.5s;
      transition: 0.5s;
    margin-top: 60px;
    margin-left: 200px;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 60px;
    text-align: center;
    /* line-height: 60px; */
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
 
  }
  
  .s:hover {
    animation: animate 8s linear infinite;
      animate: 0.5s;
      transition: 0.5s;
  }
  
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
  
  .s:before {
      animate: 0.5s;
      transition: 0.5s;
    content: '';
    /* position: absolute; */
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: 0.5s;
    
  }
  
  .s:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 8s linear infinite;
      animate: 0.5s;
      transition: 0.5s;
  }